body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(191, 179, 186);
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 50px;
    background-color: #d1c3c3;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #284758;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 25px;
    cursor: pointer;
    margin: 20px 0; /* Increased margin for a larger vertical gap */
    background-color: transparent;
    color: #007bff;
    transition: all 0.3s ease;
    outline: none;
}

button:hover {
    background-color: #25bc9c;
    color: white;
    border-color: #536123;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: none;
}
